<!-- <link rel="stylesheet" href="/css/footer.css"> -->
<link rel="stylesheet" href="<%= assetPath('css/footer.css') %>">

<footer>
    <div>&COPY;Sai Nisshith. All Rights Reserved</div>
    <ul>
        <li><a href="/">Home</a></li>
        <%if(locals.user){%>
            <li><a href="/users/profile/<%=user._id%>">Profile</a></li>
        <%}%>
    </ul>
</footer>