<h1>Reset Password</h1>
<div>
    <form action="/users/reset-password-form/<%=key%>" method="post">
        <label for="new-pass">New Password :</label>
        <input type="text" name="new_pass" id="new-pass"><br>
        <label for="conf-new-pass">Confirm-Password: </label>
        <input type="text" name="confirm_new_pass" id="conf-new-pass">
        <button type="submit">Submit</button> 
    </form>
</div>