<h1>Sign Up</h1>

<form action="/users/create" method="post">
    <input type="text" name="name" placeholder="Your Name: " id="username" required>
    <input type="email" name="email" placeholder="Your Email: " id="email" required>
    <input type="password" id="password" name="password" placeholder="Password" required>
    <input type="password" name="confirm_password" id="conf_pass" placeholder="Confirm Password" required>
    <button type="submit">Sign Up</button>
</form>

<!-- <p>
    <a href="/users/auth/google">Sign up with Google</a>
</p> -->

<p>Or Sign Up with :</p>

<div style="width: 300px;">
    <div id="g_id_onload"
     data-client_id="77512752449-iafedi6p6upbtchisbqn8efnd3150b0u.apps.googleusercontent.com"
     data-context="signin"
     data-ux_mode="popup"
     data-login_uri="http://localhost:8000/users/auth/google/callback"
     data-itp_support="true">
</div>

<div class="g_id_signin"
     data-type="standard"
     data-shape="rectangular"
     data-theme="filled_black"
     data-text="signin_with"
     data-size="large"
     data-logo_alignment="left">
</div>
</div>

<script src="https://accounts.google.com/gsi/client" async></script>