<div>
    <p>Hi <%=name%>,</p>
    <br>
    <br>
    <p>Your got a new comment on your post</p>
    <br>
    <p><%=name%> reacted by saying <%=comment.content%></p>
    <br>
    <p>Thanks, cheers!</p>
</div>