<div>
        <p>Hi <%=name%>,</p> <br>

        <p>You recently requested to reset the password for your account. Click the link below to proceed.</p>
        <br>

        <a href="localhost:8000/users/reset-password/<%=key%>">localhost:8000/users/reset-password/<%=key%></a>
        

        <br>
        <p>If you did not request a password reset, please ignore this email or reply to let us know. This password reset link is only valid for the next 15 minutes.</p>

       <p>Thanks, the SocioSphere team</p> 

</div>